/* ベース */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
    color: black;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
}

/* スタイル */
.container {
    max-width: 414px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: #eee1b8;
    background-image: radial-gradient(#f6edca 10%, transparent 20%), radial-gradient(#f6edca 10%, transparent 20%);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
}

.header {
    background-color: #e60112;
    height: 40px;
    text-align: center;
}

.header__title,
.header__title-close {
    line-height: 35px;
    color: white;
    font-size: 16px;
    position: relative;
}

.header__title-close {
    position: absolute;
    top: 0;
    right: 15px;
    opacity: 0.7;
}

.portal__head {
    font-family: "M PLUS Rounded 1c";
    font-size: 20px;
    text-align: center;
    padding: 20px 0 15px;
}
.portal__logo {
    vertical-align: bottom;
    width: 30px;
}

.portal__inner {
    padding: 35px 45px;
}

.portal__info {
    position: relative;
    color: #dfd9c8;
    font-size: 14px;
    padding-bottom: 35px;
}

.portal__user {
    position: absolute;
    top: 0;
    left: 0;
}
.portal__date {
    position: absolute;
    top: 0;
    right: 0;
}

.portal__content {
    background-color: #f5f1e4;
    border-radius: 80px;
    width: 85%;
    margin: 0 auto 65px;
}

.portal__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portal__menu-item {
    width: 90px;
    display: inline-block;
    text-align: center;
    margin-bottom: 25px;
}

.portal__menu-item-img {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
}

.portal__menu-item-foot {
    font-size: 12px;
    font-weight: bold;
    color: #7b6944;
}
